		<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sub Categories</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Users</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid bg-white">
            <div class="card-header">
                <h3 class="card-title">Edit</h3>
            </div>
            <!-- /.card-header -->
            <div class="row col-md-12">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">

                        <!-- form start -->
                        <form>
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Category <sup class="text-red h6">*</sup></label>
                                    <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Select Category</option>
                                        <option>Electronic</option>
                                        <option>Fine Art</option>
                                        <option>Decorations</option>
                                        <option>Jwellery</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Sub Category<sup class="text-red h6">*</sup></label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Tvs">
                                </div>
                                <div class="form-group">
                                    <label>Status <sup class="text-red h6">*</sup></label>
                                    <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Select</option>
                                        <option>Active</option>
                                        <option>Inactive</option>
                                    </select>
                                </div>

                            </div>
                    </div>


                    <!-- /.card-body -->

                    <div class="float-right mr-4">
                        <a type="submit" class="btn btn-primary mb-5" href="Sub_category_view_btn.html">Save</a>
                    </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->


				</section><!-- /.container-fluid -->
<!-- /.content -->
<!-- /.content-wrapper -->
			</div>

<script>
  $(function () {
    // Summernote
    $('#summernote').summernote()

    // CodeMirror
    CodeMirror.fromTextArea(document.getElementById("codeMirrorDemo"), {
      mode: "htmlmixed",
      theme: "monokai"
    });
  })
    </script>