
	<!-- Content Wrapper. Contains Page Contnet -->
	<div class="content-wrapper">
		 <!-- Content Header (Page header) -->
	    <div class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1 class="m-0">Dashboard Admin</h1>
	          </div><!-- /.col -->
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Dashboard Admin</li>
	            </ol>
	          </div><!-- /.col -->
	        </div><!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </div>
	    <!-- /.content-header -->

	    <!-- Main Content -->
	    <section class="content">
	    	<div class="container-fluid">
	    		 <!-- Info boxes -->
		        <div class="row">
		          <div class="col-12 col-sm-6 col-md-3">
		            <div class="info-box">
		              <a href="pages/Users_Managment/datatable.html" class="info-box-icon bg-info elevation-1"><i class="fas fa-users"></i></a>

		              <div class="info-box-content">
		                <span class="info-box-text">Users</span>
		                <span class="info-box-number">
		                  18
		                  <!-- <small>%</small> -->		             
		                </span>
		              </div>
		              <!-- /.info-box-content -->
		            </div>
		            <!-- /.info-box -->
		          </div>
		          <!-- /.col -->
		          <div class="col-12 col-sm-6 col-md-3">
		            <div class="info-box mb-3">
		              <span class="info-box-icon bg-dark elevation-1"><a href="pages/Auction/auction.html"><i class="fas fa-gavel"></i></a></span>

		              <div class="info-box-content">
		                <span class="info-box-text">Auctions</span>
		                <span class="info-box-number">41</span>
		              </div>
		              <!-- /.info-box-content -->
		            </div>
		            <!-- /.info-box -->
		          </div>
		          <!-- /.col -->

		          <!-- fix for small devices only -->
		          <div class="clearfix hidden-md-up"></div>

		          <div class="col-12 col-sm-6 col-md-3">
		            <div class="info-box mb-3">
		              <span class="info-box-icon bg-success elevation-1"><a href="pages/Categories/categories_main/Categories.html"><i class="fas fa-list-alt"></i></a></span>

		              <div class="info-box-content">
		                <span class="info-box-text">Categories</span>
		                <span class="info-box-number">17</span>
		              </div>
		              <!-- /.info-box-content -->
		            </div>
		            <!-- /.info-box -->
		          </div>
		          <!-- /.col -->
		          <div class="col-12 col-sm-6 col-md-3">
		            <div class="info-box mb-3">
		              <span class="info-box-icon bg-warning elevation-1"><a href="pages/Faq_Management/Faq_Questions/faq_Questions.html"><i class="fas fa-question"></i></a></span>

		              <div class="info-box-content">
		                <span class="info-box-text">Faqs</span>
		                <span class="info-box-number">12</span>
		              </div>
		              <!-- /.info-box-content -->
		            </div>
		            <!-- /.info-box -->
		          </div>
		          <!-- /.col -->
		           <div class="col-12 col-sm-6 col-md-3">
		            <div class="info-box mb-3">
		              <span class="info-box-icon bg-success elevation-1"><a href="pages/Location_Master/Cities/Cities.html"><i class="fas fa-map-marker-alt"></i></a></span>

		              <div class="info-box-content">
		                <span class="info-box-text">Cities</span>
		                <span class="info-box-number">12</span>
		              </div>
		              <!-- /.info-box-content -->
		            </div>
		            <!-- /.info-box -->
		          </div>
		          <!-- /.col -->
		           <div class="col-12 col-sm-6 col-md-3">
		            <div class="info-box mb-3">
		              <span class="info-box-icon bg-primary elevation-1"><a href="pages/Language/Language.html"><i class="fas fa-language"></i></a></span>

		              <div class="info-box-content">
		                <span class="info-box-text">Languages</span>
		                <span class="info-box-number">4</span>
		              </div>
		              <!-- /.info-box-content -->
		            </div>
		            <!-- /.info-box -->
		          </div>
		          <!-- /.col -->
		           <div class="col-12 col-sm-6 col-md-3">
		            <div class="info-box mb-3">
		              <span class="info-box-icon bg-danger elevation-1"><a href="pages/Content_Management/content_management.html"><i class="fas fa-th-large"></i></a></span>

		              <div class="info-box-content">
		                <span class="info-box-text">Pages</span>
		                <span class="info-box-number">7</span>
		              </div>
		              <!-- /.info-box-content -->
		            </div>
		            <!-- /.info-box -->
		          </div>
		          <!-- /.col -->
		           <div class="col-12 col-sm-6 col-md-3">
		            <div class="info-box mb-3">
		              <span class="info-box-icon bg-secondary elevation-1"><a href="pages/Master_setting/master_setting.html"><i class="fas fa-cog"></i></a></span>

		              <div class="info-box-content">
		                <span class="info-box-text">Settings</span>
		                <span class="info-box-number">12</span>
		              </div>
		              <!-- /.info-box-content -->
		            </div>
		            <!-- /.info-box -->
		          </div>
		          <!-- /.col -->
		        </div>
		        <!-- /.row -->
	    	</div>	
	    </section>
	</div>
