
			<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Users</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Users</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List</h3>
                            <button class="float-right btn btn-success pt-0 pb-0">Add New</button>
                        </div>
                        <!-- /.card-header -->

                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <!-- <th>S.no.</th> -->
                                        <th>Catogory</th>
                                        <th>Questions</th>
                                        <th>Answers</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>

                                        <td>Sample catogory</td>
                                        <td>What are the advantages of buying at auction?</td>
                                        <td>There are many advantages, two of these are: An auction demonstrates free and fair competition enabling the purchaser to buy at a price that is fairly achieved against other known bidders. If you are the successful bidder you know that the vendor cannot withdraw and the property is yours on completion, which usually takes place 28 days after the auction.</td>
                                    </tr>
                                    <tr>
                                        <!-- <td>1</td> -->
                                        <td>Sample catogory</td>
                                        <td>Should I inspect the property?	</td>
                                        <td>YES. It is essential that you view and know as much as you can about the property prior to the auction. Local searches and copies of further legal documentation can be obtained from the auctioneers or direct from the Solicitors named in the brochure. To view outside of the specified times contact the auctioneer's office.	</td>
                                    </tr>
                                    <tr>

                                        <td>Sample catogory</td>
                                        <td>What are the advantages of buying at auction?</td>
                                        <td>There are many advantages, two of these are: An auction demonstrates free and fair competition enabling the purchaser to buy at a price that is fairly achieved against other known bidders. If you are the successful bidder you know that the vendor cannot withdraw and the property is yours on completion, which usually takes place 28 days after the auction.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="clear"></div>
            <!-- /.row -->
            <div class="back-list-btn pl-3">
                <a href="Faq_Catogories.html" class="btn btn-secondary btn-sm">Back to list</a>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });

</script>